.hero {
  background: var(--primary);
  color: var(--primary-foreground);
  font-family: var(--font-family);
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;

  clip-path: polygon(
    0 0,
    100% 0,
    100% 95%,
    75% 95%,
    70% 100%,
    30% 100%,
    25% 95%,
    0 95%
  );

  margin-top: -10px;
}

.heroGrid {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  gap: 50px;
}

.imageCard {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imageCard::after {
  content: "";
  position: absolute;
  inset: 0;

  background:
    linear-gradient(
      to top,
      rgba(19, 31, 75, 0.95) 0%,
      rgba(19, 31, 75, 0.6) 20%,
      transparent 50%
    ),
    linear-gradient(
      to left,
      rgba(19, 31, 75, 0.25) 0%,
      transparent 35%
    );

  pointer-events: none;
}

.content {
  text-align: center;
}

.subtitle {
  color: var(--muted);
  font-size: 18px;
  margin-bottom: 20px;
  opacity: 0.85;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 30px;
}

.benefits {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: var(--secondary);
  margin-bottom: 30px;
}

.callBtn {
  background: var(--secondary);
  border: none;
  color: var(--primary-foreground);
  padding: 16px 16px 16px 38px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.phoneIcon {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.features {
  margin-top: -40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  font-size: 15px;
  color: var(--primary-foreground);
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.featureItem span {
  max-width: 100px;
}

.imgCont {
  width: 40px;
  height: 40px;
  background: var(--primary-accent);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureIcon {
  font-size: 22px;
  opacity: 0.9;
}