:root {
  --background: #fff;
  --foreground: #000;

  --primary: #142257;
  --primary-accent: #1f3584;
  --primary-foreground: #fff;
  --primary-muted: #9ea3b5;

  --secondary: #15b2f5;
  --secondary-foreground: #4AC9FF;

  --surface: #f3f5f9;
  --surface-foreground: #545971;

  --muted: #666b86;
}